* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  background: #f2f4f8;
  padding: 30px;
}

/* Layout */
.resume {
  width: 794px;
  margin: auto;
  background: #fff;
  display: flex;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
}

/* Sidebar */
.sidebar {
  width: 32%;
  background: #0f2a44;
  color: #fff;
  padding: 30px 24px;
}

.avatar {
  width: 120px;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-left: 40px;
}

.sidebar h1 {
  /* padding-left: 53px; */
  /* font-size: 26px; */
  padding-left: 18px;
  font-size: 22px;
  line-height: 1.1;
  margin-bottom: 6px;
  font-weight: bold;
}

.sidebar a {
  text-decoration: none;
  color: inherit; 
}

.title {
  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #cfe3ff;
  margin-left: 25px;
}

.sidebar section {
  margin-bottom: 22px;
}

.sidebar h2 {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 8px;
  text-transform: uppercase;
  color: #9dc7ff;
}

.sidebar p, .sidebar li {
  font-size: 13px;
  line-height: 1.5;
}

.skills {
  list-style: none;
}

.skills li {
  background: rgba(255,255,255,0.12);
  padding: 4px 8px;
  margin-bottom: 6px;
  border-radius: 4px;
}

/* Main Content */
.content {
  width: 68%;
  padding: 32px 36px;
}

.content section {
  margin-bottom: 26px;
}

.content h2 {
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  text-transform: uppercase;
  color: #0f2a44;
}

.content p {
  font-size: 14px;
  line-height: 1.6;
}

.job h3, .project h3 {
  font-size: 15px;
  margin-bottom: 3px;
}

.job span {
  font-size: 13px;
  color: #666;
}

.job ul {
  padding-left: 18px;
  margin-top: 8px;
}

.job li {
  font-size: 14px;
  margin-bottom: 6px;
  /* line-height: 1.2; */
}

.project {
  margin-bottom: 12px;
}

.project p {
  font-size: 13px;
  color: #555;
}

.project ul {
  padding-left: 18px;
  margin-top: 8px;
}

.project li {
  font-size: 14px;
  margin-bottom: 6px;
  /* line-height: 1.2; */

}

.project a {
  font-size: 13px;
  color: #1a5cff;
  text-decoration: none;
}

/* Print */
@media print {
  body {
    background: none;
    padding: 0;
  }

  .resume {
    box-shadow: none;
    width: 100%;
  }
}
